header{
  height: 4.5rem;
  width: 100%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 2rem;
}

.header__navigation{
  display:none;
}
.header__info{
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
@media screen and (min-width:840px) {
  .header__navigation{
    display:block;
    margin: 0 1rem;
    width:20rem;
  }
  .header__info{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}