header{
  height: 4.5rem;
  width: 100%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: -1px 2px 8px var(--shadow);
  box-sizing: border-box;
  padding: 0 5rem;
}

.header__nav{
  display: flex;
  align-items: center;

}

.header__login{
  display: flex;
  align-items: center;
  flex-wrap:wrap;
}

.header__error{
  box-sizing: border-box;
  padding:0 1rem;
  font-family: "Mont-Serrat",sans-serif;
  font-size: 0.7rem;
  color: var(--contrast);
  position: relative;
  top:1.2rem;
  left:-10.5rem;
  margin:-5.5rem;

}

.animate{
  position:absolute;
  top:1.25rem;
  right:5rem;
  display: block;
  z-index:2;
  border-radius:1rem;
}
.login{
  animation: loginAnimation 0.5s ease-out;
}
.logout{
  animation: logoutAnimation 0.5s ease-out;
}

@keyframes loginAnimation {
  0%{
    width:7rem;
    height: 2rem;
    background: transparent;
    right:5rem;
    border-radius:1.5rem;
  }
  1%{
    width:7rem;
    height: 2rem;
    background: #fff;
    right:5rem;
    border-radius:1.5rem;
  }
  50%{
    width:13.5rem;
    height: 2rem;
    background: #fff;
    right:5rem;
    border-radius:1.5rem;
  }
  99%{
    width:2rem;
    height: 2rem;
    background: #fff;
    right:16.5rem;
    border-radius:1.5rem;

  }
  100%{
    width:2rem;
    height: 2rem;
    background: transparent;
    right:16.5rem;
    border-radius:1.5rem;
  }
}

@keyframes logoutAnimation {
  100%{
    width:7rem;
    height: 2rem;
    background: transparent;
    right:5rem;
    border-radius:1.5rem;
  }
  99%{
    width:7rem;
    height: 2rem;
    background: #fff;
    right:5rem;
    border-radius:1.5rem;
  }
  50%{
    width:13.5rem;
    height: 2rem;
    background: #fff;
    right:5rem;
    border-radius:1.5rem;
  }
  1%{
    width:2rem;
    height: 2rem;
    background: #fff;
    right:16.5rem;
    border-radius:1.5rem;

  }
  0%{
    width:2rem;
    height: 2rem;
    background: transparent;
    right:16.5rem;
    border-radius:1.5rem;
  }
}